<template>
    <div>
        <form @submit="addTodo">
            <input type="text" v-model="title" name="title" placeholder="Add Todo...">
            <input type="submit" value="Submit" class="btn">
        </form>
    </div>
</template>

<script>
//import uuid from 'uuid'
export default {
    name: "AddTodo",
    data() {
        return {
            title: '' // not sure why this has to be in data() { return { ... }}
        }
    },
    methods: {
        addTodo(e) {
                //e.preventDefault(); // have no idea about what this does (don't want form to submit to file?)
                const newTodo = {
//                id: uuid.v4(),
                title: this.title,
                completed: false
            }
            // Send to parent object
            this.$emit('add-todo', newTodo);
            
            // reset what's in the input box
            this.title = ''; 
        }
    }
}
</script>
 
<style scoped>
    form {
        display: flex;
    }

    input[type="text"] {
        flex: 10;
        padding: 5px;
    }

    input[type="submit"] {
        flex: 2;
    }
</style>