<template>
    <div>
        <div v-bind:key="todoitem.id" v-for="todoitem in todos"> 
            <TodoItem v-bind:todo="todoitem" v-on:del-todo="$emit('del-todo', todoitem.id)"/>
        </div>
    </div>
</template>

<script>
import TodoItem from './TodoItem.vue';

export default {
    name: "Todos",
    components: {
        TodoItem // don't understand why this is in the export block if we're importing TodoItem
    },
    props: ["todos"]
}
</script>

<style scoped>

</style>